.main {
  padding: 1rem;
}

.section-users {
  position: relative;
  border: 1px solid var(--color-black);
  border-radius: 0.5rem;

  &:first-of-type {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  &__title {
    position: relative;
    display: inline-block;
    top: -1.85rem;
    left: 1.25rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: var(--color-blue);
    color: var(--color-white);
    margin-bottom: 0;
  }

  &__users-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin-top: 0;
  }
}

.user-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid var(--color-black);
  margin: 0.25rem;
  padding: 0.75rem;
  min-width: 100px;
  max-width: 100px;
  min-height: 120px;

  &:hover {
    cursor: pointer;
  }
}

.filters {
  display: flex;
  padding: 1rem;
}

.checkbox-field {
  display: flex;
  align-items: center;
  margin: 0 0.25rem 0 2rem;

  &__label {
    padding: 0 0.5rem;
  }
}

.search-field {
  display: block;
  position: relative;

  &__input {
    font-size: 13px;
    height: 32px;
    width: 100%;
    transition: 0.2s ease-in-out;
    background: transparent;
    padding-right: 30px;
    &:focus {
      outline: none;
    }
  }

  &__icon {
    position: absolute;
    right: -1.5rem;
    top: 0.5rem;
    cursor: pointer;
    height: 20px;
    width: 20px;
    background-image: url("../../assets/images/magnifier.svg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: 20px;
  }
}
